
{{#each foodtrucks}}
<div class="foodtruck-div">
  <img class="foodtruck-img" src="{{this.image}}" alt="foodtruck-image">
  <div class="foodtruck-content">
    <h3>{{this.name}}</h4>
    <p class="foodtruck-list-text">{{this.description}}</p>
    <a class="foodtruck-list-link" href="/foodtruck/{{this.id}}" >Show details</a>
    {{#if ../user}}
      <form action="/foodtruck/{{this.id}}/book" method="POST">
        <button class="foodtruck-list-book" type="submit">Book</button>
      </form>
    {{/if}}
  </div>
</div>
{{/each}}
<a class="back" href="/">Back</a>

