
{{#each foodtrucks}}
<div class="foodtruck-div">
  <img class="foodtruck-img" src="{{this.image}}" alt="foodtruck-image">
  <div>
    <h5>{{this.name}}</h5>
    <p>{{this.description}}</p>
    <a href="/foodtruck/{{this.id}}" >Show details</a>
    <form action="/foodtruck/{{this.id}}/book" method="POST">
      <button type="submit">Book</button>
    </form>
  </div>
</div>
{{/each}}
<a href="/">back</a>

