<h1 class="form-title">Edit foodtruck details</h1>

<div class="form-container">
  <form class="user-form" enctype="multipart/form-data" action="/foodtruck/{{foodtruck._id}}/edit" method="POST">
    <div  class="mb-4">
      <label for="name" class="col-sm-2 col-form-label">Foodtruck name</label>
      <div class="col-sm-10">
        <i class="fas fa-file-signature icon"></i>
        <input type="text" name="name" class="form-control" id="inputEmail3" value="{{foodtruck.name}}">
      </div>
    </div>
    <div  class="mb-4">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <i class="fas fa-file-alt icon"></i>
        <input type="text" name="description" class="form-control" id="inputEmail3" value="{{foodtruck.description}}">
      </div>
    </div>
    <div class="mb-4">
      <label for="image" class="col-sm-2 col-form-label">Upload image</label>
      <div class="col-sm-10">
        <i class="far fa-image icon"></i>
        <input type="file" name="image" class="form-control" id="inputPassword3" value="{{foodtruck.image}}">
      </div>
    </div>
    <div class="mb-4">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <i class="fas fa-euro-sign icon"></i>
        <input type="number" name="price" class="form-control" id="inputPassword3" value="{{foodtruck.price}}">
      </div>
    </div>


    <div class="mb-4">

      <h3>Preferences:</h3>
      <div class="preferences">
        <label for="food">Food</label>
        <input type="checkbox" name="food" {{#if foodtruck.food}}checked{{/if}}>
        <label for="drinks">Drinks</label>
        <input type="checkbox" name="drinks" {{#if foodtruck.drinks}}checked{{/if}}>
      </div>
    </div>
    <div class="mb-4">
      <h3>Type of food:</h3>
      <div class="type-food">
        <label for="bagels">Bagels</label>
        <input type="checkbox" name="bagels" {{#if foodtruck.bagels}}checked{{/if}}>
        <label for="sandwiches">Sandwiches</label>
        <input type="checkbox" name="sandwiches" {{#if foodtruck.sandwiches}}checked{{/if}}>
        <label for="burritos">Burritos</label>
        <input type="checkbox" name="burritos" {{#if foodtruck.burritos}}checked{{/if}}>
        <label for="crepes">Crepes</label>
        <input type="checkbox" name="crepes" {{#if foodtruck.crepes}}checked{{/if}}>
        <label for="hamburgers">Hamburgers</label>
        <input type="checkbox" name="hamburgers" {{#if foodtruck.hamburgers}}checked{{/if}}>
        <label for="pizza">Pizza</label>
        <input type="checkbox" name="pizza" {{#if foodtruck.pizza}}checked{{/if}}>
        <label for="sushi">Sushi</label>
        <input type="checkbox" name="sushi" {{#if foodtruck.sushi}}checked{{/if}}>
        <label for="smoothies">Smoothies</label>
        <input type="checkbox" name="smoothies" {{#if foodtruck.smoothies}}checked{{/if}}>
        <label for="tea">Tea</label>
        <input type="checkbox" name="tea" {{#if foodtruck.tea}}checked{{/if}}>
        <label for="coffee">Coffee</label>
        <input type="checkbox" name="coffee" {{#if foodtruck.coffee}}checked{{/if}}>
        <label for="beer">Beer</label>
        <input type="checkbox" name="beer" {{#if foodtruck.beer}}checked{{/if}}>
        <label for="cocktails">Cocktails</label>
        <input type="checkbox" name="cocktails" {{#if foodtruck.cocktails}}checked{{/if}}>
        <label for="iceCream">Ice Cream</label>
        <input type="checkbox" name="iceCream" {{#if foodtruck.iceCream}}checked{{/if}}>
        <label for="cakes">Cakes</label>
        <input type="checkbox" name="cakes" {{#if foodtruck.cakes}}checked{{/if}}>
        <label for="dessert">Dessert</label>
        <input type="checkbox" name="dessert" {{#if foodtruck.dessert}}checked{{/if}}>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
<a class="back" href="/private/profile-owner">Back to Profile</a>